{% extends "tasks/base.html" %}

{% block content %}
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                Help Page
            </div>
            <div class="card-body">
                <h5 class="card-title">What is Lorem Ipsum?</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
            </div>
        </div>
    </div>
{% endblock %}
